.filter-input{
    width: 22px;
    height: 22px;
    accent-color: var(--primary);
    cursor: pointer;
}
.filter-option-label{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.filter-group{
    margin-bottom: 20px;
}
.filter-text{
    color: var(--dark-gray-2);
    font-size: 14px;
}
.filter-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-gray-2);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--light-gray-2); 
  padding-bottom: 5px;
}