.product-card {
  width: 292px;
  background: white;
  cursor: pointer;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.card-image {
  background-color: var(--white);
  height: 321px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Se tiver sombra ou borda no Figma, coloque aqui */
}

.card-image img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.card-info {
  padding: 10px 0;
}

.product-category {
  font-size: 12px;
  color: var(--light-gray);
  font-weight: 700;
  text-transform: uppercase;
}

.product-name {
  font-size: 24px;
  color: var(--dark-gray-2);
  margin: 5px 0;
  font-weight: 400; /* Regular conforme o design system geralmente pede */
}

.price-old {
  text-decoration: line-through;
  color: var(--light-gray-2);
  font-size: 16px;
  margin-right: 10px;
}

.price-discount {
  color: var(--dark-gray-2); /* Preço com desconto é Dark Gray 2 */
  font-size: 24px;
  font-weight: 700;
}

.price-regular {
  color: var(--dark-gray);
  font-size: 24px;
  font-weight: 700;
}