.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-image-area {
    position: relative; 
    width: 100%;
    background-color: #f5f5f5; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.arrow-icon {
    font-size: 30px;
    color: #474747;
    cursor: pointer;
    user-select: none; 
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color 0.2s;
    
    text-shadow: 0px 0px 5px rgba(255,255,255,0.8); 
}

.arrow-icon:hover {
    color: #C92071; 
}


.thumbnails-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.thumbnail-item {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    background-color: #FFFFFF;
}

.thumbnail-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.thumbnail-item.active {
    border: 2px solid #C92071; 
}